:root {
  --primary-color: #2185d0;
}

::selection {
  background: #ec6ead; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ec6ead; /* Gecko Browsers */
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Overrides */

.primary-bg-important {
  background-color: var(--primary-color) !important;
}

input[type="text"] {
  font-size: 16px;
}

#content-grid.row {
  margin: 0px;
  padding: 0px;
}

#content-grid.row > .column {
  margin: 0px;
  padding: 0px;
}
